<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="layout.css">

    <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic-ext">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

    <!-- Viewport metatags -->
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<!--Navigation Top Bar Start-->
<div class="logo">
    LOGO
</div>
<div class="right">
    <div class="navigation">
        <H2>Update or Create User</H2>
        <br>
        <form action="#" method="post" th:action="@{/users/manage}" th:object="${user}">
            <p>User Name: <input id="user-name-input" type="text" th:field="*{username}" required/></p>
            <p>Password:<input id="user-password-input" type="text" th:field="*{password}"/></p>
            <p>Email: <input id="user-email-input" type="text" th:field="*{mail}"/></p>
    </div>
    <div class="checkbox">
        <label><input type="checkbox"/> </label>
        <p><input type="checkbox" class="field-checkbox" id="user-is-account-non-expired-checkbox"
                  th:field="*{accountNonExpired}">Account Non Expired</p>
        <p><input type="checkbox" class="field-checkbox" id="user-is-account-non-locked-checkbox"
                  th:field="*{accountNonLocked}">Account Non Locked</p>
        <p><input type="checkbox" class="field-checkbox" id="user-is-credential-non-expired-checkbox"
                  th:field="*{credentialsNonExpired}">Credential Non Expired</p>
        <p><input type="checkbox" class="field-checkbox" id="user-is-enabled-checkbox" th:field="*{enabled}">Enabled</p>
        <div class="button">
            <a class="hvr-shrink" href="#" onclick=setInputToDefault()>Cle field</a>
            <a class="hvr-shrink" href="#" onclick=Update Or Create>Clear input field</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
    <tr th:each="user : ${users}"
        th:onclick="'setDataFromTableToInputs(\'' + ${user.getId()} + '\');setAuthoritie(\'' + ${user.authorities} +'\',\''+ ${roles} +  '\')'">

        <div class="col_l_1">
            <p>User Id</p>
            <td th:utext="${user.getId()}"
                th:id="'user-id-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>User name</p>
            <td th:utext=" ${user.getUsername()}"
                th:id="'user-name-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>User password</p>
            <td th:utext=" ${user.getPassword()}
						"
                th:id="'user-password-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>User mail</p>
            <td th:utext=" ${user.getMail()}
						"
                th:id="'user-email-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>Roles</p>
            <td th:utext=" ${user.getAuthorities()}
						">...</td>
        </div>
        <div class="col_l_1">
            <p>Account Non Expired</p>
            <td th:utext=" ${user.isAccountNonExpired()}
						"
                th:id="'user-is-account-non-expired-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>Account Non Locked</p>
            <td th:utext=" ${user.isAccountNonLocked()}
						"
                th:id="'user-is-account-non-locked-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>Credentials Non Expired</p>
            <td th:utext=" ${user.isCredentialsNonExpired()}
						"
                th:id="'user-is-credential-non-expired-'+ ${user.getId()}">...</td>
        </div>
        <div class="col_l_1">
            <p>Enable</p>
            <td th:utext=" ${user.isEnabled()}
						"
                th:id="'user-is-enabled-'+ ${user.getId()}">...</td>
        </div>
</div>
</div>

<script>
			function setDataFromTableToInputs(value) {
			    document.getElementById("user-name-input")
			        .value = getInnerHtmlById("user-name-" + value);
			    document.getElementById("user-email-input")
			        .value = getInnerHtmlById("user-email-" + value);
			    document.getElementById("user-is-account-non-expired-checkbox")
			        .checked = getBooleanValueFromTextById("user-is-account-non-expired-" + value);
			    document.getElementById("user-is-account-non-locked-checkbox")
			        .checked = getBooleanValueFromTextById("user-is-account-non-locked-" + value);
			    document.getElementById("user-is-credential-non-expired-checkbox")
			        .checked = getBooleanValueFromTextById("user-is-credential-non-expired-" + value);
			    document.getElementById("user-is-enabled-checkbox")
			        .checked = getBooleanValueFromTextById("user-is-enabled-" + value);
			}

			function setAuthoritie(userRoles, allRoles) {
			    var allRolesArray = charArrayToStringArray(allRoles);
			    var userRolesArray = charArrayToStringArray(userRoles);
			    for (var i = 0; i < allRolesArray.length; i++) {
			        document.getElementById("role-" + allRolesArray[i]).checked = userRolesArray.includes(allRolesArray[i]);
			    }

			}

			function charArrayToStringArray(array) {
			    return array.toString().replace('[', '').replace(']', '').replace(' ', '').split(',');
			}

			function setInputToDefault() {
			    document.getElementById("user-name-input").value = '';
			    document.getElementById("user-password-input").value = '';
			    document.getElementById("user-email-input").value = '';
			    document.getElementById("user-is-account-non-expired-checkbox").checked = true;
			    document.getElementById("user-is-account-non-locked-checkbox").checked = true;
			    document.getElementById("user-is-credential-non-expired-checkbox").checked = true;
			    document.getElementById("user-is-enabled-checkbox").checked = true;
			    document.getElementById("user-is-deleted-checkbox").checked = false;
			}


			function getBooleanValueFromTextById(id) {
			    var text = document.getElementById(id).innerHTML;
			    switch (text.trim()) {
			        case "true":
			            return true;
			        case "false":
			            return false;
			    }
			}

			function getInnerHtmlById(id) {
			    return document.getElementById(id).innerHTML
			}

		</script>
</body>
<style>
</style>
</html>